:root {
    --text-font-stack: monospace;
    --heading-font-stack: monospace;
    --navigation-font-stack: monospace;
    --text-size: 16px;

    /* Colors */
    --accent-color: rgb(53, 161, 214);
    --accent-color-highlight: rgb(126, 212, 255);
    --navigation-highlight: #000000;
    --text-color: #929599;
    --text-color-heading: #b0b0b1;
    --text-color-subtle: #777;
    --text-color-emphasis: #b0b0b1;
    --code-color: #bd9346;
    --separator-color: rgba(58, 58, 58, 0.25);
    --background-color: #101214;
    --background-color-blockquote: #ebd8b4;

    /* Screen sizes */

    --desktop-width: 768px;
    --body-padding: 1em;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: #000000;
    background-color: var(--background-color);


    height: 100%;
}

body {
    background-color: var(--background-color);
    background-image: url('/static/img/parchment-faded.jpg');

    font-size: var(--text-size);
    color: var(--text-color);
    font-family: var(--text-font-stack);
    max-width: var(--desktop-width);
    margin: auto;
    padding-top: var(--body-padding);
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    -ms-overflow-style: none;

    min-height: 100%;
}

body::-webkit-scrollbar {}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-heading);
    margin: 0 0 20px;
}


h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
    font-weight: bold;

    padding-bottom: 5px;
    border-bottom: var(--text-color) solid 1px;
}

h2 {
    font-size:20px;
    color: var(--text-color-emphasis);
    font-weight: bold;
/*
    padding-bottom: 5px;
    border-bottom: var(--text-color-subtle) solid 1px;
    */
}

h3,
h4,
h5,
h6 {
    color: var(--text-color-emphasis);
    font-weight: bold;
}

/* Hyperlinks */

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-highlight);
    text-decoration: underline;
}

/* Paragraphs */

p {
    margin-bottom: 1em;
}

pre {
    margin-bottom: 1em;

    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

code {
    color: var(--code-color);

    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;

    font-size: var(--text-size);
}

strong {
    color: var(--text-color-emphasis);
}

small {
    font-size: 11px;
}

.footer {
    p {
        color: var(--text-color-subtle);
        font-size: 1rem;
    }

    padding-bottom: 2em;
}

.logo {
    display: block;
    width: 160px;
}

.title {
    display: block;

    h1 {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
}

.green {
    color: rgb(94, 204, 51);
}

.yellow {
    color: rgb(204, 179, 51);
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 1px;
    background-color: var(--text-color);
}

/* Content */

.content {

    margin-bottom: 2em;

    ul {
        list-style-position: inside;
        margin-bottom: 1em;
        text-align: left;
        padding-left: 1em;
    }

    ul ul {
        margin-bottom: 0;
    }

    ol {
        list-style-position: inside;
        margin-bottom: 1em;
        text-align: left;
        padding-left: 2em;

        ol {
            margin-bottom: 0;
        }
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
    }
}

/* mobile breakpoint */
@media (max-width: 480px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    p, pre, code {
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    h3, h4, h5, h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    small {
        font-size: 10px;
    }

    .content {
        ul, ol {
            font-size: 12px;
        }
    }

    .footer {
        p {
            font-size: 12px;
        }
    }

    .title {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.padded {
    padding-left: 1em;
    padding-right: 1em;
}

.padded-top {
    padding-top: 1em;
}

.padded-bottom {
    padding-bottom: 1em;
}

nav {
    ul {
        list-style: none;
        margin-bottom: 1em;
    }

    li {
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    /* nav breakpoint */
    @media (max-width: 570px) {
        li {
            display: block;
        }
    }

    .selected {
        text-decoration: none;
        color: var(--accent-color-highlight);
        color: var(--navigation-highlight);
    }

    a:hover {
        text-decoration: none;
    }
}